@using WebTeam6.Data
@using WebTeam6.Services
@inject IGroupService service
@inject IJSRuntime jsRuntime

<div class="modal fade" tabindex="-1" role="dialog" id="groupModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Group details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm id="group-creation-form" Model="@GroupObject" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="hidden" @bind-value="@GroupObject.Id" />
                        <InputText id="new-group-name-field" type="text" class="form-control" @bind-Value="@GroupObject.Name" />
                    </div>
                    <div class="form-group">
                        <label>Owner</label>
                        <input type="hidden" @bind-value="@ownerName" />
                        <InputText id="new-group-name-field" type="text" class="form-control" @bind-Value="@ownerName" />
                    </div>

                    <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
                    <button id="cancel-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Group GroupObject { get; set; }

    [Parameter]
    public Action DataChanged { get; set; }

    [Parameter]
    public string ownerName { get; set; } = "";

    private async Task CloseGroupModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "groupModal");
    }

    private async void HandleValidSubmit()
    {
        await service.Add(GroupObject, ownerName);
        await CloseGroupModal();
        DataChanged?.Invoke();
    }
}

@*@code {
    //public Group _groupObject { get; set; } = new Group();
    //private string _ownerId { get; set; } = "";
    //public List<Group> groups = new List<Group>();

    //public async void HandleValidSubmit()
    //{
    //    await service.Add(_groupObject, Int32.Parse(_ownerId));
    //}

}*@


@*<EditForm id="groupCreationForm" Model="_groupObject" OnValidSubmit="HandleValidSubmit">
        <div class="inputFieldSpacer">
            <p>
                Group name:
                <InputText class="inputField" id="groupRegInput" type="text" @bind-Value="_groupObject.Name" />
            </p>
        </div>
        <div class="inputFieldSpacer">
            <p>
                Owner Id:
                <InputText class="inputField" id="groupOwnerIdInput" type="number" @bind-Value="_ownerId" />
            </p>
        </div>
        <button class="btn btn-primary" id="regGroupButton" type="submit">Submit</button>
    </EditForm>*@