@inherits GroupMembersBase

@if (@GroupObject.Owner == null)
{
    <div class="loader"></div>
}
else
{
    <table class="table container" id="userTable">

        <thead>
            <tr>
                <th>Members</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-gavel" id="ownerIcon"></i> @GroupObject.Owner.UserName</td>
                @if (GroupObject.Owner.Id == CurrentUser.Id)
                {
                    <td>
                        <button type="button" class="btn btn-default" @onclick="(() => RemoveUserFromGroup(GroupObject.Owner))">
                            <i class="fas fa-door-open"></i>
                        </button>
                    </td>
                }
                <td></td>
            </tr>
            @foreach (var userItem in @GroupObject.Members)
            {
                if (userItem.Id != @GroupObject.Owner.Id)
                {
                    <tr>
                        <td class="memberName"><i class="fas fa-user" id="memberIcon"></i> @userItem.UserName</td>
                        @if (GroupObject.Owner.Id == CurrentUser.Id)
                        {
                            <td>
                                <button type="button" class="btn btn-default deleteMember" @onclick="(() => RemoveUserFromGroup(userItem))">
                                    <i class="fas fa-trash-alt" ></i>
                                </button>
                            </td>
                            @*<td><input id="user-remove-btn " type="button" class="btn btn-danger" value="Remove" @onclick="(() => RemoveUserFromGroup(userItem))" /></td>*@
                        }
                        else if (userItem.Id == CurrentUser.Id)
                        {
                            <td>
                                <button id="leaveGroup" type="button" class="btn btn-default" @onclick="(() => RemoveUserFromGroup(userItem))">
                                    <i class="fas fa-door-open"></i>
                                </button>
                            </td>
                            @*<td><input id="user-remove-btn " type="button" class="btn btn-danger" value="Leave" @onclick="(() => RemoveUserFromGroup(userItem))" <span class="glyphicon glyphicon-print"></span>></td>*@
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (GroupObject.Owner.Id == CurrentUser.Id)
    {
        <div>
            <input id="addMember" type="button" data-toggle="modal" data-target="#addMemberModal" class="btn btn-primary" value="Add Member" />
        </div>
    }
        <AddMemberModal GroupObject="GroupObject" DataChanged="@DataChanged"></AddMemberModal>
}

