@inherits EventDetailsBase

<div class="card">
    @if (Editing)
    { <EventEdit @bind-Event="Event" /> }
    else
    {
        <div class="card-body">
            <p>Name: @Event.Name</p>
            <p>Starts: @Event.StartTime</p>
            <p>Ends: @Event.EndTime</p>
            <p>Created by: @Event.Creator?.UserName</p>
        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-danger user-delete-event" value="Delete"/>
        </div>
    }
    <div class="col-10">
        <input type="button" class="btn btn-primary user-edit-event" @onclick="@(e => Editing = !Editing)" value="@(Editing ? "Exit" : "Edit")" />
    </div>
</div>
